#garden {
    display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 10px 10px 10px 20px 1fr;
   }
   #water {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
   }
